[submodule "external/rlImGui"]
	path = external/rlImGui
	url = https://github.com/raylib-extras/rlImGui
[submodule "external/cimgui"]
	path = external/cimgui
	url = https://github.com/cimgui/cimgui
[submodule "external/raylib"]
	path = external/raylib
	url = https://github.com/raysan5/raylib
